header {
	text-align: center;
	color: orange;
}
h2 {
	border: 2px solid black;
	margin-left: 580px;
	margin-right: 580px;
	font-size: 3em;
	margin-bottom: 10px;
}

#Main {
	display: flex;
}

#TextDivMain{
	display: inline;
	margin: 30px;
}

#SidDiv {
	display: inline;
}

nav {
	border: 1px solid black;
	background-color: lightgrey;
	font-size: 3em;
	display: flex;
	text-align: justify;
	padding-left:20px;
	padding-right: 20px;

}

#Sub1; #Sub2{
	display: block;
	
}
